#set($_type = "text")
#set($_component = "color_input")

#if ($field.params.type)
    #set($_type = $field.params.type)
#elseif(!$_type)
    #set($_type = "")
#end

#if ($field.params.component)
    #set($_component = $field.params.component)
#elseif(!$_component)
    #set($_component = "")
#end

#if ($field.params.inputExtraClass)
    #set($_inputExtraClass = $field.params.inputExtraClass)
#elseif(!$_inputExtraClass)
    #set($_inputExtraClass = "")
#end

#if ($field.params.fieldExtraClass)
    #set($_fieldExtraClass = $field.params.fieldExtraClass)
#elseif(!$_fieldExtraClass)
    #set($_fieldExtraClass = "")
#end

#if ($field.description && $field.description != "")
    #set($_description = $localization.m($field.description))
#else
    #set($_description = false)
#end

#if ($field.params.placeholder)
    #set($_placeholder = $localization.m($field.params.placeholder))
#else
    #set($_placeholder = "")
#end

#if ($field.params.cols)
    #set($_colsClass = "col-md-" + $field.params.cols)
#elseif(!$_colsClass)
    #set($_colsClass = "col-md-12")
#end

#set($_domId = "id_" + $field.property)

<div class="$_fieldExtraClass $_colsClass" data-component="field" data-property="$field.property">
    <div class="row">
        #if ($_description)
                  #set($_fieldColClass = "col-md-12")

            <div class="col-md-2 field-label text-right">
                <label for="$_domId">
                    $_description
                </label>
            </div>
        #else
            #set($_fieldColClass = "col-md-12")
        #end

        <div class="$_fieldColClass">
            <div data-component="color">
                <div data-component="error_state" data-error-property="$field.property">
                    <div class="input-group colorpicker-component">
                        <span class="input-group-addon"><i></i></span>
                        <input
                                type="$_type"
                                name="$field.property"
                                id="$_domId"
                                value="$value"
                                data-component="$_component"
                                class="gui-input $_inputExtraClass"
                                placeholder="$_placeholder" />
                    </div>
                </div>
                <em
                        for="$_domId"
                        class="state-error"
                        data-component="error"
                        data-error-property="$field.property">
                </em>
            </div>
        </div>
    </div>
</div>
