#set($_type = "text")
#set($_component = "color_input")

#if ($field.params.type)
    #set($_type = $field.params.type)
#elseif(!$_type)
    #set($_type = "")
#end

#if ($field.params.component)
    #set($_component = $field.params.component)
#elseif(!$_component)
    #set($_component = "")
#end

#if ($field.params.inputExtraClass)
    #set($_inputExtraClass = $field.params.inputExtraClass)
#elseif(!$_inputExtraClass)
    #set($_inputExtraClass = "")
#end

#if ($field.params.fieldExtraClass)
    #set($_fieldExtraClass = $field.params.fieldExtraClass)
#elseif(!$_fieldExtraClass)
    #set($_fieldExtraClass = "")
#end

#if ($field.description && $field.description != "")
    #set($_description = $localization.m($field.description))
#else
    #set($_description = false)
#end

#if ($field.params.placeholder)
    #set($_placeholder = $localization.m($field.params.placeholder))
#else
    #set($_placeholder = "")
#end

#if ($field.params.cols)
    #set($_colsClass = "col-md-" + $field.params.cols)
#elseif(!$_colsClass)
    #set($_colsClass = "col-md-12")
#end

#set($_domId = "id_" + $field.property)

<div class="$_fieldExtraClass $_colsClass" data-component="field" data-property="$field.property">
    <div class="row">
        #if ($_description)
                  #set($_fieldColClass = "col-md-12")

            <div class="col-md-2 field-label text-right">
                <label for="$_domId">
                    $_description
                </label>
            </div>
        #else
            #set($_fieldColClass = "col-md-12")
        #end
        <div class="$_fieldColClass">
            <div    data-component="file"
                    data-path="$path"
                    data-action="$action"
                    data-component="error_state"
                    data-error-property="$field.property"
                    >

                <label class="field prepend-icon file">
                    <span class="button btn-primary" data-sub-component="upload_button" style="margin-right: 47px" title="Upload">
                        <i class="glyphicon glyphicon-upload"></i>
                    </span>

                    <span class="button btn-success" data-sub-component="download_button" title="Download">
                        <i class="glyphicon glyphicon-download"></i>
                    </span>

                    #set($name= "Filename")
                    <input type="text" name="$field.property$name" data-sub-component="file_name_input" readonly class="gui-input" id="$_domId" placeholder="no file selected" />

                    <label for="$_domId" class="field-icon"><i class="fa fa-upload"></i></label>

                </label>

                <div class="progress progress-bar-xxs file-upload-progress" data-sub-component="progress" style="width: 100%; margin-top: 1px">
                    <div class="progress-bar progress-bar-success" data-sub-component="progress_bar" style="width: 40%;"></div>
                </div>

                <input type="hidden" name="$field.property" value="$value" data-sub-component="upload_value"/>
            </div>

            <em
                    for="$_domId"
                    class="state-error"
                    data-component="error"
                    data-error-property="$field.property">
            </em>
        </div>
    </div>
</div>
