.framework-grid table th a {
    color: #666666 !important
}

table thead .sorting { background: url('../../framework-resources/admin/theme/vendor/plugins/datatables/media/images/sort_both.png') no-repeat center right; }
table thead .sorting_asc { background: url('../../framework-resources/admin/theme/vendor/plugins/datatables/media/images/sort_asc.png') no-repeat center right; }
table thead .sorting_desc { background: url('../../framework-resources/admin/theme/vendor/plugins/datatables/media/images/sort_desc.png') no-repeat center right; }

.admin-form .panel .panel-footer {
    border: 0px;
}

#skin-toolbox .panel-heading .panel-title {
    padding-left: 0px;
}

#skin-toolbox .panel-heading {
    margin-right: 0px;
    width: auto;
    right: auto;
}

.searchableInput button {
    background-color: transparent !important;
}

.searchableInput button:focus, .searchableInput button:hover, .searchableInput button:active  {
    border-color: transparent !important;
    box-shadow: none !important;
}

.searchableInput button i {
    background-color: transparent !important;
    text-shadow: none !important;
    color: #adadad;
}

.zero-padding {
    padding-left: 0;
    padding-right: 0;
}